= form_for @radio_button_option do |f|
  - if @radio_button_option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@radio_button_option.errors.count, "error")} prohibited this radio_button_option from being saved:"
      %ul
        - @radio_button_option.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
